{%- assign collection = collections[section.settings.collection] -%}
{%- assign max_products = section.settings.product_rows_int | times: section.settings.products_per_row_int -%}
<div class="homepage-products container" data-section-type="featured-collection">
  {% if section.settings.title != blank %}
    <h1 class="section-title-container section-title-container--larger-space h2 align-center reveal-candidate">{{ section.settings.title | link_to: collection.url }}</h1>
  {% endif %}

  <div class="grid grid--row-gutters product-list">
    {% unless section.settings.collection == blank %}
      {% for product in collection.products limit: max_products %}
        {% include 'product-grid-item' %}
      {% endfor %}
    {% else %}
      {% for product in (1..max_products) %}
        {% include 'onboarding-product-grid-item' %}
      {% endfor %}
    {% endunless %}
  </div>

  {% if section.settings.cta_text != blank %}
    <div class="spaced-row align-center">
      <a class="button button--alt" href="{{ collection.url }}">{{ section.settings.cta_text }}</a>
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Featured collection",
    "class": "section--collection section--upper-space-req",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products_per_row_int",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of products per row",
        "default": 4
      },
      {
        "type": "range",
        "id": "product_rows_int",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Number of rows",
        "default": 1
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "Button text",
        "default": "See more"
      },
      {
        "type": "checkbox",
        "id": "grid_show_vendor",
        "label": "Show product vendor",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
