$menu-breakpoint: 620px; // duplicated in momo-main-menu.styles.scss. needs to be changed in both.

#shopify-section-header-momo {
    .pageheader {
        position: fixed;
        top: 0;
        left: 0;
        
        @media (min-width: $menu-breakpoint) {
            visibility: hidden;
        }
        
        > .pageheader__contents {
            background-color: initial;
            border-bottom: none;
        }
    }    
}
