$main-menu-padding: 20px;
$menu-breakpoint: 620px; // duplicated in momo-sidemenu.styles.scss. needs to be changed in both.
$menu-transition-time: .2s;
$menu-box-shadow: 0 4px 10px 3px rgba(0,0,0,0.05);

/** menu style only on homepage */
body#momosara {   
    #shopify-section-header-momo {
        position: fixed;
        width: 100%;
    }
    
    /* when the body is scrolled down */
    &.scrolled-down {
        
        #shopify-section-header-momo {
            position: fixed;
        }
        
        .momo.main-menu.top {
            color: black;
            background-color: white;
            box-shadow: $menu-box-shadow;
            
            .header-search-toggle > svg {
                color: black;
            }
        }
    }
}

/** menu style on all other pages (not the homepage) */
body:not(#momosara) {
    #shopify-section-header-momo {
        position: sticky;
        width: 100%;
    }

    .momo.main-menu.top {
        background-color: white;
        color: black;
        box-shadow: $menu-box-shadow;

        .header-search-toggle > svg {
            color: black;
        }
    }
}

/** general style */
.momo.main-menu.top {

    visibility: hidden;
    @media (min-width: $menu-breakpoint) {
        visibility: initial;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
        display: flex;
        align-items: center;
    }

    padding: 0 $main-menu-padding;
    box-sizing: border-box;
    color: white;
    transition: background-color $menu-transition-time;

    .logo-wrapper > a.logo-link {
        line-height: initial;
    }

    /** prevent the bolder weight */
    .header-items__item {
        font-weight: initial;
    }

    .header-search-toggle > svg {
        color: white;
    }

    .menu-wrapper {
        position: relative;
        padding: $main-menu-padding 0;

        .submenu {
            opacity: 0;
            visibility: hidden;
            transition: opacity $menu-transition-time;
        }

        &:hover {
            .submenu {
                visibility: visible;
                opacity: 1;
            }
        }
        &:not(:first-child) {
            margin-left: 2rem;
        }
    }

    .momo.main-menu-item {
        cursor: pointer;
        text-transform: uppercase;
    }
}
