$xs_end: 480px; 
$sm_end: 768px; 
$md_end: 1024px; 
$lg_end: 1200px;
// xl

@function add_1px($val) {
    @return calc(#{$val} + 1px);
}

@mixin bp_range($min_width, $max_width) {
    @media screen and ( min-width: add_1px($min_width) ) and (max-width: $max_width) {
        @content;
    }
}

@mixin xs { @media screen and (max-width: $xs_end) { @content; } }
@mixin sm { @include bp_range($xs_end, $sm_end) { @content; } }
@mixin md { @include bp_range($sm_end, $md_end) { @content; } }
@mixin lg { @include bp_range($md_end, $lg_end) { @content; } }
@mixin xl { @media screen and (min-width: add_1px($lg_end)) { @content; } }

@mixin square_ratio() {
    /** keep 1:1 ratio */
    height: 0;
    padding-top: 100% !important;
    background-size: 100%;
}

.momo-collection-page {

    .momo-collection-breadcrumbs {
        padding: 10px;

        .collection-name {
            font-weight: 500;
        }
    }

    > .container {
        max-width: unset;
        width: unset;
        padding: 0 1vw;
    }

    #main {
        display: flex;
        flex-direction: column;
    }

    .product-list {
        display: grid;
        justify-items: center;
        align-self: center;
        width: 100%;

        @include xs {
            grid-template-columns: 1fr;
        }
        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include xl {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .product-item-link-wrapper {
        width: 100%;
    }

    .momo-product-grid-item {

        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative; /** for .prod-caption */

        $item-padding-sm: 12px;
        $item-padding-lg: 15px;
        @include xs { padding: $item-padding-sm; }
        @include sm { padding: $item-padding-sm; }
        @include md { padding: $item-padding-sm; }
        @include lg { padding: $item-padding-lg; }
        @include xl { padding: $item-padding-lg; }

        .product-image {
            position: relative;
            background-position: center;
            // background-size: contain;

            @include xs {
                @include square_ratio();
            }
            @include sm {
                @include square_ratio();
            }
            @include md { height: 530px; }
            @include lg { height: 530px; }
            @include xl { height: 530px; }

            &.secondary {
                position: absolute;
                z-index: 10;
                opacity: 0;
                transition: opacity .3s;
                &:hover {
                    opacity: 1;
                }
                @include xs { width: calc(100% - 24px); }
                @include sm { width: calc(100% - 24px); }
                @include md { width: calc(100% - 30px); }
                @include lg { width: calc(100% - 30px); }
                @include xl { width: calc(100% - 30px); }
            }
        }

        .product-label {
            position: absolute;
            top: 10px;
            left: 10px;
            box-shadow: 0 3px 5px -5px black;
            padding: 0px 4px;
            background-color: white;
            text-transform: uppercase;
            font-size: 13px;
        }

        .prod-caption {
            position: absolute;
            display: flex;
            justify-content: center;
            padding: 0;
            pointer-events: none;
            z-index: 20;
            
            /** responsive properties */
            font-size: 30px;
            line-height: 1.9rem;
            bottom: 30px;
            left: 30px;
            @include xs {
                font-size: 17px;
                bottom: 20px;
                left: 23px;
                line-height: 1.4rem;
            }
            @include sm {
                font-size: 17px;
                bottom: 20px;
                left: 23px;
                line-height: 1.4rem;
            }

            letter-spacing: 1px;
            color: white;
            > a {
                display: flex;
                flex-direction: column;
                color: inherit;
            }
            .product-price {
                font-size: 16px;
            }
        }
        
    }
}