$main-menu-padding: 20px;
$menu-breakpoint: 620px; // duplicated in momo-sidemenu.styles.scss. needs to be changed in both.

.momo.main-menu.top {

    visibility: hidden;
    @media (min-width: $menu-breakpoint) {
        visibility: initial;
    }

    display: flex;
    justify-content: center;
    padding: 0 $main-menu-padding;
    box-sizing: border-box;
    &.top {
        color: white;
    }
    transition: background-color 1s;

    .float-area {
        position: absolute;
        top: $main-menu-padding;
        right: $main-menu-padding;

        display: flex;
    }

    .header-search-toggle > svg {
        color: white;
    }

    .menu-wrapper {
        position: relative;
        padding: $main-menu-padding 0;

        .submenu {
            opacity: 0;
            transition: opacity 1s;
        }

        &:hover {
            .submenu {
                visibility: visible;
                opacity: 1;
            }
        }
        &:not(:first-child) {
            margin-left: 2rem;
        }
    }

    .momo.main-menu-item {
        cursor: pointer;
        text-transform: uppercase;
    }
}

#shopify-section-header-momo {
    position: fixed;
    width: 100%;
}

/* scrolled down */
body.scrolled-down {
    
    #shopify-section-header-momo {
        position: fixed;
    }
    
    .momo.main-menu.top {
        color: black;
        background-color: #ffffff82;
        
        .header-search-toggle > svg {
            color: black;
        }
    }
}
