@mixin xs { @media screen and (max-width: 300px) { @content; } }
@mixin sm { @media screen and (min-width: 301px) and (max-width: 650px) { @content; } }
@mixin md { @media screen and (min-width: 651px) and (max-width: 950px) { @content; } }
@mixin lg { @media screen and (min-width: 951px) and (max-width: 1400px) { @content; } }
@mixin xl { @media screen and (min-width: 1401px) { @content; } }

.momo-collection-page {

    .momo-collection-breadcrumbs {
        padding: 10px;

        .collection-name {
            font-weight: 500;
        }
    }

    > .container {
        max-width: unset;
        width: unset;
        padding: 0 1vw;
    }

    #main {
        display: flex;
        flex-direction: column;
    }

    .product-list {
        display: grid;
        justify-items: center;
        align-self: center;
        width: 100%;

        @include xs {
            grid-template-columns: 1fr;
        }
        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }
        @include md {
            grid-template-columns: repeat(3, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include xl {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .product-item-link-wrapper {
        // display: block;
        width: 100%;
    }

    .momo-product-grid-item {

        display: flex;
        flex-direction: column;
        width: 100%;

        @include xs {
            padding: 2%;
        }
        @include sm {
            padding: 3%;
        }
        @include md {
            padding: 3%;
        }
        @include lg {
            padding: 4%;
        }
        @include xl {
            padding: 4%;
        }

        .product-image {
            position: relative;
            background-position: center;
            background-size: contain;
            height: 0;
            padding-top: 100% !important;
        }

        .product-label {
            position: absolute;
            top: 10px;
            left: 10px;
            box-shadow: 0 3px 5px -5px black;
            padding: 0px 4px;
            background-color: white;
            text-transform: uppercase;
            font-size: 13px;
        }

        .prod-caption {
            display: flex;
            justify-content: center;
            font-size: 12px;
            letter-spacing: 1px;
            > a {
                display: flex;
                flex-direction: column;
                align-items: center;

                .product-price {
                    color: grey;
                }
            }
        }
        
    }
}