/** allow the collections container to spread to full width of the screen */
#shopify-section-momo-list-collections-template {
    .container {
        max-width: 100vw;
        width: 100vw;
        margin: 0;
        .content-main {
            padding: 0;
        }
    }
}

.momo-collections-list {
    display: grid;

    /** define numer of cols (1/2/3/4) according to screen width */
    @media (max-width: 400px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 401px) and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 801px) and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1201px) {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .momo-collection-grid-item {
        position: relative;
        
        /** place collection name (caption) on top of the image */
        .prod-caption {
            padding: 0;
            background: none !important;
            position: absolute;
            text-align: center;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;

            > a {
                color: white;
            }
        }

        /** only for devices with a mouse,
            show as black & white, and reveal color on hover */
        .rimage__image {
            transition: filter 150ms ease-in;
            @media screen and (hover: hover) {
                filter: grayscale(100%);
            }
        }
        &:hover {
            .rimage__image {
                filter: grayscale(0);
            }
        }

        /** keep a 1:1 aspect ratio (square) for collection images */
        .rimage-wrapper {
            height: 0;
            padding-top: 100% !important;
        }
    }
}
