$menu-breakpoint: 620px; // duplicated in momo-main-menu.styles.scss. needs to be changed in both.

#shopify-section-header-momo {
    .pageheader {
        position: fixed;
        top: 0;
        left: 0;
        
        /** show sidemenu on narrow screen, or when there is no hover */
        visibility: hidden;
        @media (max-width: $menu-breakpoint), (hover: none) {
            visibility: visible;
        }
        
        > .pageheader__contents {
            background-color: initial;
            border-bottom: none;
        }
    }    
}

#main-menu.momo.sidemenu {
    background-color: #ffc4f1;
    color: #4a4242;

    .main-menu-breadcrumbs, .main-menu-links {
        text-transform: uppercase;
    }

    // #main-menu-panel .main-menu-links { // top level links (shop, about, info)
    //   this selector is saved for future use (currently redundant)
    // }

}