@mixin sm() {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin lg() {
    @media screen and (min-width: 501px) {
        @content;
    }
}

@mixin xl() {
    @media screen and (min-width: 1301px) {
        @content;
    }
}

.momo.pagefooter {
    display: flex;
    .shop-menu, .info-menu {
        display: none;
    }
    @include xl {
        .shop-menu, .info-menu {
            display: block;
        }
    }
    @include sm {
        /** mobile */
        flex-direction: column;
        padding: 20px 30px;
        > :not(:first-child) {
            margin: 20px 0 0 0;
        }
    }
    @include lg {
        /** tablet/desktop */
        flex-direction: row;
        padding: 30px 50px;
        justify-content: space-around;
        > :not(:first-child) {
            margin: 0 0 0 90px;
        }
    }


    .momo.lists.container {
        width: unset;
        @include lg {
            flex-grow: 1;
        }
    }

    .footer-columns {
        padding: 0;
        justify-content: space-evenly;
        nav {
            padding: 0;
            flex: 0 0 17%;
            @include xl {
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }

    .footer-nav-links {
        > li {
            white-space: nowrap;
            @include sm {
                text-align: center;
            }
            @include lg {
                text-align: left;
            }
        }
    }

    .momo.signup-icon {
        display: none;
    }

    .momo.signup-section {
        border-bottom: none;
        padding: 0;

        > .container {
            margin: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            @include sm {
                align-items: stretch;
                input {
                    padding: 10px 10px;
                }
            }
            @include lg {
                align-items: flex-start;
                input {
                    padding: 5px 10px;
                }
            }
            button {
                font-size: 0.7em;
                padding: 5px 15px;
            }
        }

        .input-and-button-row {
            margin: 0;
        }
    }

    .momo.newsletter_text {
        font-size: 1rem;
        margin: 0 0 14px 0;
        min-width: 240px;
        @include sm {
            text-align: center;
        }
        @include lg {
            text-align: left;
        }
    }

    h4 {
        font-family: Futura, sans-serif;
        white-space: nowrap;
        margin: 0 0 10px 0;
    }

    .footer-info-section {
        display: flex;
        flex-direction: column;
        @include sm {
            align-items: center;
            .content {
                text-align: center;
            }
        }
        @include lg {
            margin-top: 7px;
        }
        h6 {
            margin-bottom: 10px;
            font-weight: bold;
        }
        &:not(:first-child) {
            margin-top: 40px;
        }

        .small-note {
            font-size: 15px;
        }
    }
}
