.momo#pagefooter {

    .momo.signup-icon {
        display: none;
    }

    .momo.signup-section {
        border-bottom: none;
    }

    .momo.newsletter_text {
        font-size: 1rem;
    }

    h3 {
        font-family: Futura,sans-serif;
    }
}
